// 
// Features
// 


// Styling for the features icons
.icon-feature {
    font-size: 4rem;
}

#about {
    .animation {
        width: 600px;
        height: 600px;
        @media screen and (max-width: $medium){
            width: 300px;
            height: 300px;
        }
    }
}