// 
// Masthead
// 

.masthead {
    background-color: $gray-100;
    background: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
         rgba(239, 254, 255, 0.9) 10%,
          rgba(254, 255, 244, 0.7) 40%,
           rgba(255, 255, 255, 0.12)
        ),
        url($mashead-bg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // Set top padding to 5rem plus the height of the fixed navbar
    padding-top: 5rem + 4.5rem;
    @media screen and (max-width: $medium) {
        padding-top: 1rem;
    }

    .container{

        width: 70%;
        @media screen and (max-width: $medium){
            width: 100%;
        }

        .content {
            height: 300px;
            margin-top: 7rem;
            
            .slogan {
                font-weight: 600;
                text-align: center;

                @media screen and (min-width: $medium){
                    font-size: 3.5rem;
                }

                @media screen and (max-width: $medium){
                    font-size: 2 rem;
                }

            }
            
            .sub-slogan {
                text-align: center;
                
                @media screen and (min-width: $medium){
                    font-size: 1.3rem;
                }

                @media screen and (max-width: $medium){
                    font-size: 0.9 rem;
                }
            }
        }
    }
}