// Footer
footer.bg-black.py-5
    .container.px-5.text-white.mb-5
        .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
            .col-md-6.col-sm-12
                h3.mb-3 PT. Talenta Daya Teknologi
                .text-muted MENARA 165, 4th Floor<br>Jl TB. Simatupang, Kav.1<br>Cilandak, Jakarta 12560<br>Email : admin@tdteknologi.co.id

    .container.text-center
        .text-white-50.small
            .mb-2 &copy; PT. Talenta Daya Teknologi 2022. All Rights Reserved.