
head

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='PT Talenta Daya Teknologi')
    meta(name='author', content='PT Talenta Daya Teknologi')

    title PT Talenta Daya Teknologi

    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    // Bootstrap icons
    link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

    // Google fonts
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')

    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')