doctype html
html(lang='en')

    // Head
    include component/common/head.pug

    body#page-top

        // Navigation
        include component/common/navbar.pug
        
        // Mashead header
        header.masthead
            .container.px-5
                .row.gx-5.content
                    // Mashead text and app badges
                    .mb-5.mb-lg-0.text-center.text-lg-start
                        h1.display-1.lh-1.mb-3.slogan Your all-in one IT Solutions partner
                        p.fw-normal.mb-5.sub-slogan We provides robust hardwares, scalable apps, and high quality talent to boost up your business productivity.
                        .d-flex.flex-column.flex-lg-row
            // waves
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f8f9fa" fill-opacity="1" d="M0,128L60,149.3C120,171,240,213,360,218.7C480,224,600,192,720,170.7C840,149,960,139,1080,144C1200,149,1320,171,1380,181.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

        // About section
        section#about.bg-light.pb-0.pt-sm-1
            .container
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-12.col-lg-5
                        h2.display-4.lh-1.mb-5 Who we are?
                        p.lead.fw-normal.text-muted.mb-0.mb-lg-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    .col-sm-8.col-md-6
                        // About animation
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_3x67gx4y.json"  background="transparent"  speed="1" class="animation" loop  autoplay></lottie-player>
                            

            // waves
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,128L60,149.3C120,171,240,213,360,218.7C480,224,600,192,720,170.7C840,149,960,139,1080,144C1200,149,1320,171,1380,181.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

        // Services section
        section#services.pt-0.mb-5
            .container.px-5
                .mb-5.mb-lg-0.text-center.text-lg-start
                    h1.mb-5.text-center Our Business
                .row.gx-5.align-items-center
                    .col-lg-4.order-lg-0
                            // Service Animation
                            <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_ewwnp445.json"  background="transparent"  speed="1.5"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    .col-lg-8.order-lg-1.mb-5.mb-lg-0
                        .container-fluid.px-5
                            .row.gx-5
                                .col-md-6.mb-5
                                    // Service item
                                    .text-center
                                        i.bi-person-check.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Recruitment Consultant
                                        p.text-muted.mb-0 We provide quick and affordable recruitment services
                                .col-md-6.mb-5
                                    // Service item
                                    .text-center
                                        i.bi-code-slash.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Bootcamp Training
                                        p.text-muted.mb-0 Level up your skill with us to compete with global industry standard
                            .row
                                .col-md-6.mb-5.mb-md-0
                                    // Service item
                                    .text-center
                                        i.bi-display.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Hardware Providers
                                        p.text-muted.mb-0 We provide desktop computer, computer network, and server procurements
                                .col-md-6
                                    // Service item
                                    .text-center
                                        i.bi-phone.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Apps
                                        p.text-muted.mb-0 Developing and delivering great apps is our passion!

        // Call to action section
        section.cta
            .cta-content
                .container.px-5
                    h2.text-white.display-1.lh-1.mb-5
                        | Talk to our expert
                    a.btn.btn-outline-light.py-4.px-4.rounded-pill(data-bs-toggle='modal', data-bs-target='#feedbackModal') Contact Us

        // Footer
        include component/common/footer.pug

    // Scripts
    include component/common/script.pug
