html(lang='en')

    // Head
    include component/common/head.pug

    body#page-top.bg-light

        // Navigation
        include component/common/navbar.pug

        // Content
        section.p-4
        
            .container
            
                // Form
                form#inquiryForm.row(v-scope)
                    .col-12
                        h1.text-center.mb-4 Requirement Inquiry
                    
                    .row(v-for="section in sections")
                        .col-12
                            .h5 {{section.label}}

                        template(v-for="fieldName in section.fields")
                            div(:class="fields[fieldName].gridSize")
                                .form-floating.mb-3
                                    input.form-control(
                                        :id="fieldName", v-if="fields[fieldName].type!='textarea'",
                                        :type="fields[fieldName].type",
                                        :placeholder="fields[fieldName].placeholder"
                                        :required="fields[fieldName].required"
                                    )
                                    textarea.form-control(
                                        :id="fieldName",v-if="fields[fieldName].type==='textarea'",
                                        :placeholder="fields[fieldName].placeholder"
                                        style='height: 10rem;'
                                    )
                                    label(:for="fieldName") {{fields[fieldName].label}} {{fields[fieldName].required?'*':''}}  
                                    .invalid-feedback(data-sb-feedback='companyName:required')
                                        | A name is required.
                        
                    // Submit success message
                    //
                    // This is what your users will see when the form
                    // has successfully submitted
                    .col-12
                        #submitSuccessMessage.d-none
                            .text-center.mb-3
                                .fw-bolder Thank You
                                | We will respond as soon as possible

                    // Submit error message
                    //
                    // This is what your users will see when there is
                    // an error submitting the form
                    .col-12
                        #submitErrorMessage.d-none
                            .text-center.text-danger.mb-3 Error sending message!

                    // Submit Button
                    .col-12
                        .d-grid
                            button#submitButton.btn.btn-primary.rounded-pill.btn-lg.my-4.disabled(type='submit') Submit

        // Footer
        include component/common/footer.pug

    // Scripts
    include component/script/inquiry-script.pug